<section class="about">
  <div class="about__card">
    <div class="about__description">
      <h3>About</h3>
      <p>
        Hello, I'm Steven and I am a full-stack software developer with over 2
        years of experience.
      </p>
      <p>
        I build modern, user-friendly JavaScript applications using React.js,
        Node.js, SQL, and NoSQL solutions.
      </p>
      <p>
        Currently, I'm expanding my skills by pursuing a Full-stack developer
        program at Humber College, where I'm adding C#, Angular, SQL servers,
        and cloud computing to my stack.
      </p>
    </div>
    <div class="about__basic-info">
      <h3>Basic Information</h3>
      <div class="basic-info__container">
        <div class="basic-info__details">
          <h4>Email:</h4>
          <h5>steven.lavrenchuk@gmail.com</h5>
        </div>
        <div class="basic-info__details">
          <h4>Phone:</h4>
          <h5>555-01-23</h5>
        </div>
        <div class="basic-info__details">
          <h4>Address:</h4>
          <h5>500 Baker St, Toronto, ON</h5>
        </div>
        <div class="basic-info__details">
          <h4>Languages:</h4>
          <h5>English, Ukrainian, Russian, Chinese</h5>
        </div>
      </div>
    </div>
  </div>
</section>
