<section class="about">
  <div class="about__card">
    <div class="about__description">
      <h3>About</h3>
      <p>
        Hello, I'm Steven and I am a full-stack software developer with over 2
        years of experience.
      </p>
      <p>
        I build modern, user-friendly JavaScript applications using React.js,
        Node.js, SQL, and NoSQL solutions.
      </p>
      <p>
        Currently, I'm expanding my skills by pursuing a Full-stack developer
        program at Humber College, where I'm adding C#, Angular, SQL servers,
        and cloud computing to my stack.
      </p>
    </div>
    <div class="about__basic-info">
      <h3>Basic Information</h3>
      <div class="basic-info__container">
        <div class="basic-info__labels">
          <span>Email:</span>
          <span>Phone:</span>
          <span>Address:</span>
          <span>Languages:</span>
        </div>
        <div class="basic-info__details">
          <span>steven.lavrenchuk@gmail.com</span>
          <span>555-01-23</span>
          <span>500 Baker St, Toronto, ON</span>
          <span>English, Ukrainian, Russian, Chinese</span>
        </div>
      </div>
    </div>
  </div>
</section>
