.about {
  padding: 30px 0;
  height: auto;
}

.about__card {
  box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.5);
  width: 80%;
  margin: 30px auto;
  display: flex;
}

.about__description,
.about__basic-info {
  flex: 1;
  padding: 20px;
}

h3 {
  font-size: 1.5em;
  margin: 20px 0;
}

p {
  margin-bottom: 10px;
}

.basic-info__container {
  display: flex;
}

.basic-info__labels,
.basic-info__details {
  display: flex;
  flex-direction: column;
}

.basic-info__labels {
  font-weight: bold;
  margin-right: 30px;
}

.basic-info__labels span,
.basic-info__details span {
  margin-bottom: 20px;
}

@media only screen and (max-width: 800px) {
  .about__card {
    flex-direction: column;
  }

  h3 {
    text-align: center;
  }
}
