.hero {
  background-image: url("../../assets/images/pencil.jpg");
  background-size: cover;
  padding: 20px 10px;
  color: #fff;
  text-align: center;
  height: 85vh;
}

.hero__img-container {
  margin: 30px auto;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.hero__img {
  display: block;
  object-fit: contain;
  width: 100%;
  height: auto;
}

h1 {
  font-size: 40px;
  font-weight: 100;
  color: #cfbeac;
}

h2 {
  font-weight: 100;
  margin: 30px 0;
}

/* .hero__btn {
  cursor: pointer;
  margin: 20px;
  padding: 20px 30px;
  width: 200px;
  font-size: 1.25em;
} */

.hero__btn {
  display: inline-block; /* Ensures the button behaves like an inline element */
  cursor: pointer;
  margin: 20px;
  padding: 12px 16px;
  width: 200px;
  font-size: 1em;
  text-align: center; /* Centers the text horizontally */
  text-decoration: none; /* Removes default underline */
  background-color: #333;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: all 0.3s;
}

.hero__btn:hover {
  background-color: #555;
  border-color: #fff;
  color: #fff;
}
