<section class="hero">
  <div class="hero__img-container">
    <img class="hero__img" src="../../assets/images/steven.jpg" alt="steven" />
  </div>
  <h1>Steven Lavrenchuk</h1>
  <h2>Full-Stack Developer</h2>
  <div>
    <a href="mailto:steven.lavrenchuk@gmail.com" class="hero__btn">Hire Me</a>
    <a
      href="https://drive.google.com/file/d/1YR1CWE-PlCDmUClBb456ml_u06pjLbCj/view?usp=sharing"
      target="_blank"
      class="hero__btn"
      >Download CV</a
    >
  </div>
  <div>
    <button>LinkedIn</button>
    <button>Github</button>
  </div>
</section>
