.hero {
  background-image: url("../../assets/images/pencil.jpg");
  background-size: cover;
  padding: 70px 0;
  color: #fff;
  text-align: center;
  min-height: 85vh;
}

.hero__img-container {
  margin: 30px auto;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.hero__img {
  display: block;
  object-fit: contain;
  width: 100%;
  height: auto;
}

h1 {
  margin: 30px 0;
  font-size: 40px;
  font-weight: 100;
  color: #cfbeac;
  background-color: rgba(0, 0, 0, 0.15);
}

h2 {
  font-weight: 100;
  margin: 20px 0;
}

.hero__btn {
  display: inline-block;
  cursor: pointer;
  margin: 12px;
  padding: 12px 16px;
  width: 200px;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: all 0.3s;
}

.hero__btn:hover {
  background-color: #555;
  border-color: #fff;
  color: #fff;
}
