<nav class="navbar">
  <div class="navbar__container">
    <div class="navbar-brand">
      <a class="navbar__logo-link" href="#"
        ><img
          class="navbar__logo-img"
          src="../../assets/images/logo.jpg"
          alt="logo"
      /></a>
    </div>
    <div class="navbar-menu" id="navbarMenu">
      <a href="#" class="navbar-item">About</a>
      <a href="#" class="navbar-item">Skills</a>
      <a href="#" class="navbar-item">Portfolio</a>
      <a href="#" class="navbar-item">Experience</a>
      <a href="#" class="navbar-item">Contact</a>
    </div>
    <div class="navbar-burger" id="navbarBurger" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</nav>
