<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a href="#">MyBrand</a>
    </div>
    <div class="navbar-menu" id="navbarMenu">
      <a href="#" class="navbar-item">About</a>
      <a href="#" class="navbar-item">Skills</a>
      <a href="#" class="navbar-item">Portfolio</a>
      <a href="#" class="navbar-item">Experience</a>
      <a href="#" class="navbar-item">Contact</a>
    </div>
    <!-- <button class="navbar-burger" id="navbarBurger">
      <span></span>
      <span></span>
      <span></span>
    </button> -->
  </div>
</nav>
